.offersection{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding:1vmax;
}

.offersection img{
    margin:0 1vmax;
    width:20rem;
    height: 12rem;
    transition: all 0.5s;
}


.offersection   img:hover{
    box-shadow: 6px 6px 15px rgba(53, 53, 53, 0.363);
  }